# FastAPI related
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# Database
chromadb

# HTTP client
httpx

# OpenAI
openai

# LangChain
langchain
langchain-openai
langchain-community
langchain-core

# Utilities
python-dotenv
prometheus-client
loguru

# Test tools
pytest

# Google Calendar API
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client 